body {
    text-align: center;
    font-family: "ArvoRegular";
}

h2 {
    margin-bottom: 120px;
    margin-top: 65px;
}

h3 {
    padding: 20px 0 15px;
}

img {
    width: 140PX;
    height: 120PX;
}

p {
    font-family: 'Noto Sans', sans-serif;
}